TELEGRAM_TOKEN=
TELEGRAM_LOGS_CHAT_ID=
TELEGRAM_ADMIN=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=


OPENAI_TOKEN=
OPENAI_PROXY=

OPENAI_TOKENS_LIMIT=
OPENAI_MESSAGES_LIMIT=

OPENAI_TOKENS_USER_LIMIT=
OPENAI_MESSAGES_USER_LIMIT=

OPENAI_SYSTEM_HELLO=
OPENAI_ANIMATION_INTERVAL=

